.main.jumbotron {
    width: 100%;
    z-index: -2;
    position: relative;
    overflow: hidden;
}

.navbar { margin-bottom: 0; }

.jumbotron .img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}


#profile .bar { 
    background-color: #ddd;
    height: 4px;
    margin-bottom: 5px;
}
#profile .bar.on { background-color: #333; }



.skills .row {
    margin-left: -5px;
    margin-right: -5px;
}
.skills .col-xs-12,
.skills .col-xs-3 {
    padding-left: 5px;
    padding-right: 5px;
}
    

.cont > section {
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.cont > section:nth-child(even) {
    background-color: #eee;
}

#portfolio .testomonial {
    overflow: hidden;
}

.navbar.navbar-fixed-top {
    background-color: #fff;
}

body {
    overflow-x: hidden;
}
